<div class="flex h-screen bg-gray-50">
  <div class="hidden lg:fixed lg:inset-y-0 lg:block lg:w-64">
    <app-ui-sidebar [logo]="'EduBill'" [items]="sidebarItems"></app-ui-sidebar>
  </div>

  <div
    class="fixed inset-y-0 left-0 z-50 w-64 transform bg-white transition duration-200 lg:hidden"
    [class.-translate-x-full]="!sidebarOpen()"
  >
    <app-ui-sidebar [logo]="'EduBill'" [items]="sidebarItems"></app-ui-sidebar>
  </div>

  <div
    *ngIf="sidebarOpen()"
    class="fixed inset-0 z-40 bg-black/30 lg:hidden"
    (click)="closeSidebar()"
  ></div>

  <div class="flex min-w-0 flex-1 flex-col lg:ml-64">
    <app-ui-navbar
      [title]="title"
      [userName]="userName"
      (menuClick)="toggleSidebar()"
      (logoutClick)="logout()"
    >
    </app-ui-navbar>

    <main class="flex-1 overflow-y-auto p-4 sm:p-6">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
