.card {
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  --tw-shadow: var(--tw-shadow-colored);
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  border-radius: 1.5rem;
  border: 1px solid rgb(226 232 240 / 0.7);
  background-color: rgb(255 255 255);
  padding: 1.25rem;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.card.interactive:hover {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  border-color: rgb(99 102 241 / 0.5);
}

.card[data-color="rose"] {
box-shadow: 0 25px 50px -12px rgb(244 63 94 / 0.1); border-color: rgb(254 226 226 / 0.5);
}

.card[data-color="emerald"] {
box-shadow: 0 25px 50px -12px rgb(16 185 129 / 0.1); border-color: rgb(209 250 229 / 0.5);
}

svg {
  stroke-width: 2.5;
}

.btn-edit, .btn-delete {
  flex: 1 1 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.75rem;
  border: 1px solid rgb(226 232 240);
  background-color: rgb(255 255 255);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 900;
  color: rgb(71 85 105);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform;
  transform: scale(1);
}

.btn-edit:hover {
  border-color: rgb(99 102 241 / 0.2);
  background-color: rgb(99 102 241 / 0.1);
  color: rgb(99 102 241);
}

.btn-delete:hover {
  background-color: rgb(254 226 226 / 0.5);
  color: rgb(220 38 127);
}

.btn-edit:active, .btn-delete:active {
  transform: scale(0.98);
}


